*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6f5;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

div{
  margin-bottom: 10rem;
}

.index {
  height: 100vh;
}

 .masthead {
  color: white;
  min-height: 30rem;
  height: 100vh;
  background: wheat;
} 